// Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.uL{
    .u();
    font-weight: 300;
}
.uR{
    .u();
    font-weight: 400;
}
.uB{
    .u();
    font-weight: 700;
}
.u{
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0px 4px 7px rgba(0,0,0,0.55);
}
.tc {
    text-align: center;
}
