.question {
    margin: 0 5% 0 5%;
}
.question-input{
    width: 65%;
    background-color: @primary_lowop;
    border: 2px solid @primary;
    border-radius: 10px;
}
.question-input::placeholder{
    color: white;
    opacity: 0.7;
    .uL();
    font-size: 1.5em;
    padding: 10px;
}
.question-form{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
