{% extends "base.html" %}

{% block title %}
Homepage - Extreme PHP, The best possible CMS. Web For Everyone.
{% endblock title %}

{% block content %}
    <header>
        <img src="static/img/header.png" alt="Header image" class="home-header">
    </header>

    {% endblock content %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(() => {
    let page_height = $(document).height()
    let page_width = $(document).width()
    $(".bg-texture-container").css("height", `${page_height}px`)
});
</script>
{% endblock scripts%}
