{% extends "base.html" %}

{% block title %}
Homepage - Extreme PHP, The best possible CMS. Web For Everyone.
{% endblock title %}

{% block content %}
    <header>
        <div style="background-image: url('static/img/header.png')" alt="Header image" class="home-header">
    </header>

    <section class="actual-content" style="transform: translateY(-50px);">
        {% with type="button-normal", button_text="START" %}
            {% include "button.html" %}
        {% endwith %}

        <article class="article-flex" style="margin-top: 5%;">
            <div class="article-wrapper mg5">
                <h1 class="article-title uB tw">Web for Everyone.</h1>
                <p class="article-content uR tw">
                    Here at Extreme PHP, we want to provide you an easy and fast method to express yourself.

                    We have created many tools for you to use  so you can create high quality product similar to professional products, start making websites with Extreme PHP today!
                </p>
                {% with type="button-fluid", button_text="GET STARTED" %}
                    {% include "button.html" %}
                {% endwith %}
            </div>

            <div  alt="Don't code, use Extreme PHP!" class="article-img mg5" style="background-image: url('static/img/pc-no.png')"></div>
        </article>

        <article class="article-flex" style="margin-top: 10%;">
            <video controls autoplay loop class="article-img mg5" width=300 height=300>
                <source src="static/video/tools.webm" type="video/webm">
                Not supported.
            </video>

            <div class="article-wrapper mg5">
                <h1 class="article-title uB tw">Easy to use tools.</h1>
                <p class="article-content uR tw">
                    Extreme PHP is a CMS. We created easy to use tools with one main thing in mind, you"re one click away from creating your dream website.

                    Extreme PHP allow you do so with our super easy tools.
                </p>
                {% with type="button-fluid", button_text="CHECK OUR TOOLS" %}
                    {% include "button.html" %}
                {% endwith %}
            </div>

        </article>

        <section class="prices">
            <h1 class="article-title uB tw tc">Pricings.</h1>

            <div class="price-card-wrap">

                <!-- Basic -->
                <div class="price-card basic">
                    <h1 class="price-title uR tw">Basic</h1>
                    <div class="price uB tw">10$</div>
                    <ul class="price-content">
                        <li class="price-item uL tw"><span class="greenz">•</span><p>All basic tools</p></li>
                        <li class="price-item uL tw"><span class="greenz">•</span><p>yourname.e-php.com domain</p></li>
                        <li class="price-item uL tw"><span class="greenz">•</span><p>1-month min support answer</p></li>
                    </ul>
                    {% with type="button-normal", button_text="ORDER" %}
                        {% include "button.html" %}
                    {% endwith %}
                </div>

                <!-- Premium -->
                <div class="price-card premium">
                    <h1 class="price-title uR tw">Premium</h1>
                    <div class="price uB tw">30$</div>
                    <ul class="price-content">
                        <li class="price-item uL tw"><span class="greenz">•</span><p>All Basic advantage</p></li>
                        <li class="price-item uL tw"><span class="greenz">•</span><p>All tools</p></li>
                        <li class="price-item uL tw"><span class="greenz">•</span><p>Custom domain</p></li>
                        <li class="price-item uL tw"><span class="greenz">•</span><p>1-week min support answer</p></li>
                    </ul>
                    {% with type="button-normal", button_text="ORDER" %}
                        {% include "button.html" %}
                    {% endwith %}
                </div>

                <!-- Extreme -->
                <div class="price-card extreme">
                    <h1 class="price-title uR tw">Extreme</h1>
                    <div class="price uB tw">60$</div>
                    <ul class="price-content">
                        <li class="price-item uL tw"><span class="greenz">•</span><p>All Basic and Premium advantage</p></li>
                        <li class="price-item uL tw"><span class="greenz">•</span><p>Remove "Made with EPHP" badge</p></li>
                        <li class="price-item uL tw"><span class="greenz">•</span><p>3 day min support answer</p></li>
                    </ul>
                    {% with type="button-normal", button_text="ORDER" %}
                        {% include "button.html" %}
                    {% endwith %}
                </div>

            </div>
        </section>

        <section class="stats" style="margin: 7% 0 7% 0">
            <h1 class="article-title uB tw tc">Statistics.</h1>

            <section class="s-wrap">
                <div class="stats-container">
                    <canvas id="phpInWeb" width="300" height="300" class="graph"></canvas>
                </div>
                <div class="stats-container">
                    <canvas id="ephpInWeb" width="300" height="300" class="graph"></canvas>
                </div>
            </section>

        </section>

        <section class="question">
            <h1 class="article-title uB tw">A question?</h1>
            <form action="#" class="question-form">
                <input type="text" class="question-input" placeholder="Type your question here.">
                {% with type="button-normal", button_text="SEND" %}
                        {% include "button.html" %}
                {% endwith %}
            </form>
        </section>

    </section>

    {% endblock content %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(() => {
    let page_height = $(document).height()
    let page_width = $(document).width()
    $(".bg-texture-container").css("height", `${page_height}px`)
});
</script>

<script>
    const php = document.getElementById("phpInWeb").getContext("2d");
    const ephp = document.getElementById("ephpInWeb").getContext("2d");

    createChart(["Jan.", "Feb.", "Mar.", "May", "June", "Jully", "Aug.", "Sep.", "Oct.", "Nov.", "Dec."], [4, 6, 7, 12, 14, 15, 20, 22, 24, 34, 43], php, "Usage of PHP in web-servers in 1966")
    createChart(["Jan.", "Feb.", "Mar.", "May", "June", "Jully", "Aug.", "Sep.", "Oct.", "Nov.", "Dec."], [10, 11, 13, 15, 17, 24, 27, 37, 55, 67, 80], ephp, "Usage of Extreme PHP on web in 1966")

    function createChart(labels ,  data, ctx, title) {
        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [{
                    label: title,
                    data: data,
                    borderColor: [
                        "#CD5327",
                    ],
                    borderWidth: 3,
                    backgroundColor: "#cd532733",
                    fill: {
                        target: "origin",
                        below: "rgba(205, 83, 39, 0.43)",
                    },
                    tension: 0.5,
                }]
            },
            options: {
                maintainAspectRatio: false,
            }
        });     
    }
  
</script>
{% endblock scripts%}
